<!DOCTYPE html>
<html lang="en" ng-app="travel" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Planner</title>

    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin"
            src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.0"
            src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>

    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet"
          href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css"/>
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>

    <script th:src="@{/js/main.js}" src="../static/js/main.js.js"></script>
</head>

<body>
<div ng-controller="MainCtrl">
    <div class="col-md-offset-4">
        <h1>Travel Planner</h1>
    </div>
    <div>
        <form th:action="@{/logout}" method="post">
            <label th:inline="text">Signed as [[${#httpServletRequest.remoteUser}]]!</label>
            <input class="btn btn-default" type="submit" value="Sign Out"/>
        </form>
    </div>
    <br/>
    <div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">All Travels</h3>
                </div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="checkboxValue"/>
                            Show only next month plan
                        </label>
                    </div>
                    <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
                        <tr ng-repeat="travel in $data"
                            ng-click="resetSelection(); selectionChanged(travel)"
                            ng-class="{'active': travel.$selected}">
                            <td data-title="'Destination'" filter="{ 'destination': 'text' }">
                                {{travel.destination}}
                            </td>
                            <td data-title="'Start Date'" filter="{ 'startDate': 'text' }">
                                {{travel.startDate}}
                            </td>
                            <td data-title="'End Date'" filter="{ 'endDate': 'text' }">
                                {{travel.endDate}}
                            </td>
                            <td data-title="'Days Left'" sortable="daysLeft" filter="{ 'daysLeft': 'text' }">
                                <span ng-if="travel.daysLeft > 0" class="label label-primary">{{travel.daysLeft}}</span>
                                <span ng-if="travel.daysLeft == 0" class="label label-success">today</span>
                                <span ng-if="travel.daysLeft*(-1) > 0" class="label label-danger">overdue</span>
                            </td>
                            <td data-title="'Comment'" filter="{ 'description': 'text' }">
                                {{travel.description}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Travel Manage</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Destination</label>
                        <input type="text" class="form-control" ng-model="selectedTravel.destination"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <input type="text" class="form-control" ng-model="selectedTravel.startDate"
                               style="cursor: pointer;"
                               readonly="true"
                               data-date-format="MM-dd-yyyy" data-date-type="string"
                               data-autoclose="1" bs-datepicker=""/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <input type="text" class="form-control" ng-model="selectedTravel.endDate"
                               style="cursor: pointer;"
                               readonly="true"
                               data-date-format="MM-dd-yyyy" data-date-type="string"
                               data-autoclose="1" bs-datepicker=""/>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Comment</label>
                        <input type="text" class="form-control" ng-model="selectedTravel.description"/>
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="addNewTravel()">
                            Add New Travel
                        </button>
                        <button class="btn btn-default"
                                ng-click="editTravel()"
                                ng-disabled="selectedTravel.travelId == null">
                            Edit Selected
                        </button>
                        <button class="btn btn-danger"
                                ng-click="deleteTravel()"
                                ng-disabled="selectedTravel.travelId == null">
                            Delete
                        </button>
                    </div>
                    <div>
                        <span ng-class="{'col-md-4 col-md-offset-8 label label-danger' : operationResult.hasError,
                                         'col-md-4 col-md-offset-8 label label-success' : !operationResult.hasError}">
                            {{operationResult.resultMsg}}
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>