<html ng-app="admin" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>

    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.0" src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>

    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css" />
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

    <script th:src="@{/js/admin.js}" src="../static/js/admin.js.js"></script>
</head>
<body>
<div ng-controller="AccountCtrl">
    <form class="form-horizontal" th:action="@{/login}" method="post">
        <div class="col-sm-offset-5">
            <h1>Travel Planner</h1>
        </div>
        <br/>
        <div class="form-group">
            <label for="usr" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="usr" name="username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="pwd" name="password"/>
            </div>
        </div>
        <div ng-show="isLoginError()" class="col-sm-offset-5">
            <label class="alert-danger">Invalid username or password.</label>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input type="submit" value="Sign In " class="btn btn-default"/>
            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-default" ng-click="switchCreateAccount()">{{accountCreationMsg}}</button>
            </div>
        </div>

        <div ng-show="showAccountCreation">
            <div class="form-group">
                <label class="col-sm-4 col-sm-offset-2 control-label">Account creation</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Username</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="new_username"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Password</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" ng-model="new_password"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Confirm password</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" ng-model="new_c_password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button class="btn btn-default" ng-click="createNewAccount()">Create New Account</button>
                </div>
            </div>
        </div>
    </form>
    <div ng-show="accountCreatingShowInfo" class="col-sm-offset-5">
        <label class="alert-warning">{{accountCreatingMsg}}</label>
    </div>

</div>
</body>
</html>